# Research Question
What combination of college characteristics results in the greatest post-undergrad salary for computer science majors? 

The factors/characteristics we are analyzing are: college prestige ranking, teacher-to-student ratio, student population, average professor rating, geographic location, and the salary of computer scientists in the area at which the college is located.

# Data Collection

We include this data collection section to explain how data that was not from a CSV file was imported into a pandas dataframe. This section is necessarily first because otherwise, the dataframes we generate in the code would not be in scope for the data cleaning section.

In [1]:
# Import necessary packages
import requests 
import bs4
import pandas as pd

---
**Code for Webscraping College Prestige Rankings**

We used a modified form of "web scraping" in that we highlighted all text on the website and copied and pasted it into a txt file for easier automated text parsing, as truly webscraping the text off of the website would result in a complex and time-consuming HTML structure parsing. Below is the code for parsing the txt file:

In [159]:
rankingdf = pd.DataFrame(data = None, columns = ["rank", "school"])

In [160]:
def parse_school_name(line): 
    '''
    param line is a line from the txt file of the form 'school_name Logo school_name More United States'
    return a string of the school name parsed from the file line
    '''
    text = line.split("Logo")[1]
    return text.split("More")[0]

In [161]:
def parse_lines(lines, rankingdf): 
    '''
    param lines are the lines read from the txt file containing college prestige rankings from topuniversities.com
    returns a dataframe that has parsed school names and international prestige rankings appended to it 
    '''
    idx = 1
    while idx <= len(lines) - 1: 
        rank = lines[idx - 1].replace("\n", "")
        school = parse_school_name(lines[idx])
        entry = {"rank": rank, "school": school}
        rankingdf = rankingdf.append(entry, ignore_index=True)
        idx = idx + 2
    return rankingdf

In [162]:
with open("topuniversities_rankings.txt", 'r') as f: 
    lines = f.readlines()
    rankingdf = parse_lines(lines, rankingdf)

In [163]:
rankingdf.head()

  rank                                       school
0    1  Massachusetts Institute of Technology (MIT)
1    2                          Stanford University
2    3                   Carnegie Mellon University
3    4     University of California, Berkeley (UCB)
4    7                           Harvard University

---
**Code for Webscraping Computer Science Graduates' Salaries (by college)**

In [7]:
def parse_school_name(href): 
    '''
    param href is the link component of an <a> tag of the form '/research/US/School=school_name/Salary'
    returns school_name parsed from href
    '''
    school_name = href.split("/research/US/School=")[1]
    school_name = school_name.split("/Salary")[0]
    return school_name

In [8]:
def parse_career_pay(spans): 
    '''
    param spans is all of the spans for a given HTML table row in payscale.com's table element
    returns (early career pay, mid career pay) for the college associated with the table row
    '''
    early_pay = None
    mid_pay = None
    for span in spans: 
        txt = span.text
        if txt.find("$") != -1: 
            if early_pay is None: 
                early_pay = txt.split("$")[1]
            else: 
                mid_pay = txt.split("$")[1]
                break 
    return (early_pay, mid_pay)

In [9]:
def add_rows(salarydf, rows): 
    '''
    param salarydf is the dataframe to add rows to 
    param rows are the HTML table row elements from payscale.com webpage 
    returns a dataframe that has college name and corresponding early and mid career pay appened to it for all 
    HTML table rows in the HTML table element
    '''
    for row in rows: 
        spans = row.findAll("span")
        title_idx = 0
        for idx, span in enumerate(spans): 
            if span.text == "School Name:": 
                title_idx = idx + 1
                break 
        school_name = spans[title_idx].text     
        #school_name = parse_school_name(link)
        spans = row.findAll("span", class_="data-table__value")
        early_pay, mid_pay = parse_career_pay(spans)
        salarydf = salarydf.append({"school": school_name, "early_pay": early_pay, "mid_pay": mid_pay}, ignore_index = True)
    return salarydf

In [10]:
def get_salaries(page, salarydf, base_url): 
    '''
    param page is the first page to webscrape 
    param salarydf is the dataframe to append scraped data to 
    param base_url is the name of the webpage to scrape data from, excluding URL components for page number 
    returns a dataframe that has school names and corresponding mid and early career pay appended to it for all schools
    in payscale.com's salary table (which spans multiple web pages)
    '''
    while page < 26: 
        salary_url = base_url + "page/" + str(page)
        salary_resp = requests.get(salary_url)
        salary_soup = bs4.BeautifulSoup(salary_resp.text, 'html.parser')
        table = salary_soup.body.findAll("table", class_ = "data-table")
        rows = table[0].findAll("tr", class_ = "data-table__row")
        salarydf = add_rows(salarydf, rows)
        page = page + 1 
    return salarydf

In [11]:
base_url = "https://www.payscale.com/college-salary-report/best-schools-by-majors/computer-science/"
salarydf = pd.DataFrame(data = None, columns = ["school", "early_pay", "mid_pay"])
salarydf = get_salaries(1, salarydf, base_url)

In [12]:
salarydf.head()

                              school early_pay  mid_pay
0                Stanford University   107,400  174,800
1                Harvey Mudd College   100,500  172,800
2         Carnegie Mellon University    99,000  167,200
3  University of California-Berkeley   105,700  166,500
4               Princeton University   101,300  162,500

In [173]:
for m in salarydf['school']: 
    print(m)

Stanford University
Harvey Mudd College
Carnegie Mellon University
University of California-Berkeley
Princeton University
Dartmouth College
Massachusetts Institute of Technology
Harvard University
Yale University
Columbia University in the City of New York
Duke University
Brown University
University of Pennsylvania
University of Washington-Seattle Campus
United States Naval Academy
Cornell University
Rice University
University of Virginia-Main Campus
University of California-Santa Barbara
University of California-Los Angeles
Worcester Polytechnic Institute
CUNY Hunter College
Johns Hopkins University
University of California-Santa Cruz
Lehigh University
University of California-San Diego
California Polytechnic State University-San Luis Obispo
Santa Clara University
University of Notre Dame
Brandeis University
Case Western Reserve University
University of California-Irvine
United States Military Academy
Virginia Polytechnic Institute and State University
Stony Brook University
Boston College
Tufts University
San Jose State University
University of Illinois at Urbana-Champaign
Stevens Institute of Technology
Georgia Institute of Technology-Main Campus
Rensselaer Polytechnic Institute
New York University
Trinity College
University of California-Davis
James Madison University
Seattle University
Boston University
University of Massachusetts-Amherst
Wake Forest University
Fordham University
Northwestern University
Colorado School of Mines
Rutgers University-New Brunswick
University of Southern California
College of William and Mary
George Washington University
University of Delaware
San Diego State University
University of North Carolina at Chapel Hill
San Francisco State University
University of Maryland-College Park
George Mason University
Bucknell University
Binghamton University
University of St Thomas (Minnesota)
Pepperdine University
LeTourneau University
University of Rhode Island
Worcester State University
University of Colorado Boulder
New Mexico Institute of Mining and Technology
Loyola University Maryland
United States Air Force Academy
Western Washington University
University of Mary Washington
University of Michigan-Ann Arbor
CUNY Brooklyn College
University of California-Riverside
Manhattan College
Loyola Marymount University
The University of Texas at Austin
California State University-Sacramento
California State University-Northridge
Merrimack College
Bethel University (Minnesota)
University of Minnesota-Twin Cities
North Carolina State University at Raleigh
Spelman College
California State University-East Bay
Michigan State University
California State University-Chico
Brigham Young University-Provo
University of Massachusetts-Boston
University of Maryland-Baltimore County
Rose-Hulman Institute of Technology
Wentworth Institute of Technology
Citadel Military College of South Carolina
LIU Post
California State Polytechnic University-Pomona
The University of Alabama
CUNY Queens College
The University of Texas at Dallas
Washington University in St Louis
University of Denver
Oregon State University
Washington State University
Siena College
Missouri University of Science and Technology
New Jersey Institute of Technology
Pacific Lutheran University
North Dakota State University-Main Campus
University of Alaska Fairbanks
SUNY at Albany
Texas Christian University
University of Utah
West Chester University of Pennsylvania
College of Staten Island CUNY
Clarkson University
University of Illinois at Chicago
University of Florida
University of Scranton
Wittenberg University
Montana State University
Miami University-Oxford
SUNY College at Geneseo
Illinois Institute of Technology
Drake University
University of Connecticut
Montclair State University
Macalester College
Seton Hall University
Westminster College (Utah)
Gonzaga University
Northern Illinois University
Rutgers University-Newark
University of Wisconsin-Madison
Drexel University
Ramapo College of New Jersey
Bentley University
California Lutheran University
Vanderbilt University
Northeastern University
University of the Pacific
University of San Francisco
Pennsylvania State University-Main Campus
Union College (New York)
Marist College
University of Oregon
Colorado State University-Fort Collins
Kansas State University
University of Georgia
California State University-Fullerton
The College of New Jersey
City University of Seattle
University of Massachusetts-Lowell
University of Massachusetts-Dartmouth
Southern Methodist University
Texas A & M University-College Station
La Salle University
Bryant University
Loras College
University of Wyoming
Indiana University-Bloomington
California State University-San Bernardino
Trinity University
University of New Hampshire-Main Campus
University of Wisconsin-Eau Claire
University of Puget Sound
Sonoma State University
Sam Houston State University
West Virginia University
Arizona State University-Tempe
California State University-Long Beach
Baylor University
Villanova University
State University of New York at New Paltz
St John's University-New York
Rider University
Rowan University
University of Houston
Texas A & M University-Commerce
University of Iowa
University of Kansas
Oklahoma State University-Main Campus
Furman
Texas Tech University
Syracuse University
The University of Tennessee-Knoxville
University of Vermont
Ohio University-Main Campus
Hofstra University
University of New Mexico-Main Campus
South Dakota State University
Rochester Institute of Technology
University of Louisiana at Lafayette
University of Evansville
Purdue University-Main Campus
Tennessee Technological University
Embry-Riddle Aeronautical University-Daytona Beach
University of Richmond
University at Buffalo
Eastern New Mexico University-Main Campus
University of Miami
Iowa State University
University of New Haven
Northern Arizona University
Concordia University-Saint Paul
DePaul University
University of Dayton
University of North Carolina Wilmington
University of Kentucky
Edinboro University of Pennsylvania
Campbell University
University of Missouri-Columbia
Old Dominion University
Clemson University
Plymouth State University
Saint Cloud State University
Eastern Connecticut State University
The Evergreen State College
College of Charleston
Xavier University
Metropolitan State University
Quinnipiac University
North Carolina A & T State University
Truman State University
Clark University
Seattle Pacific University
Norfolk State University
Texas State University
Rutgers University-Camden
University of Arizona
University of Nebraska at Omaha
Louisiana State University and Agricultural & Mechanical College
SUNY College at Potsdam
University of Maryland-University College
University of Colorado Denver/Anschutz Medical Campus
Stockton University
University of North Florida
University of Maine
Excelsior College
Chapman University
Florida Atlantic University
American University
The University of Texas at Arlington
Moravian College
Bradley University
Ohio State University-Main Campus
Salem State University
Cornell College
University of Alabama in Huntsville
Framingham State University
William Paterson University of New Jersey
Western Illinois University
University of Redlands
Michigan Technological University
McKendree University
University of Hawaii at Manoa
Sacred Heart University
Loyola University Chicago
University of Idaho
University of North Texas
Pace University-New York
New York Institute of Technology
Auburn University
University of Nebraska-Lincoln
Humboldt State University
University of Minnesota-Duluth
Southeastern Louisiana University
University of Tulsa
Portland State University
Luther College
Southern Illinois University-Edwardsville
Golden Gate University-San Francisco
University of Michigan-Dearborn
Hope College
Stephen F Austin State University
University of Louisville
SUNY College at Brockport
CUNY Bernard M Baruch College
Taylor University
University of Wisconsin-Platteville
Towson University
Augusta University
University of Wisconsin-La Crosse
Nova Southeastern University
Florida Institute of Technology
Prairie View A & M University
University of South Dakota
Northwest Missouri State University
National University
Indiana University-Purdue University-Indianapolis
Regis University
California State University-Fresno
Lewis University
Winthrop University
Jacksonville University
Wayne State University
University of Wisconsin-Whitewater
University of Arkansas
Lock Haven University
University of North Dakota
Monmouth University
University of Southern Mississippi
Gustavus Adolphus College
Illinois State University
University of South Carolina-Columbia
University of North Carolina at Charlotte
Juniata College
Georgia Southern University
California State University-Los Angeles
Muhlenberg College
The University of Montana
Northern Kentucky University
Geneva College
Weber State University
Eastern Washington University
University of Houston-Clear Lake
The University of West Florida
University of Colorado Colorado Springs
Lamar University
Stevenson University
Roger Williams University
Webster University
Bemidji State University
University of West Georgia
Florida State University
Grove City College
University of Mississippi
McNeese State University
University of South Florida-Main Campus
Graceland University-Lamoni
Southern Connecticut State University
Harding University
Florida International University
Temple University
Gannon University
University of Cincinnati-Main Campus
Marquette University
Elmhurst College
Milwaukee School of Engineering
Kennesaw State University
University of Wisconsin-Stout
Southern Illinois University-Carbondale
University of Oklahoma-Norman Campus
Aurora University
Rhode Island College
Shippensburg University of Pennsylvania
Kutztown University of Pennsylvania
DeSales University
University of Central Florida
Lawrence Technological University
Columbus State University
Appalachian State University
Millersville University of Pennsylvania
Radford University
The University of Tampa
Fitchburg State University
Washburn University
University of Wisconsin-Oshkosh
Lipscomb University
University of Central Missouri
Saint Edward's University
Indiana University of Pennsylvania-Main Campus
Roosevelt University
California State University-Dominguez Hills
Idaho State University
Union University
Metropolitan State University of Denver
University of Louisiana at Monroe
University of Pittsburgh-Johnstown
University of Northern Iowa
SUNY College at Plattsburgh
Missouri State University-Springfield
Bridgewater State University
Ball State University
University of Pittsburgh-Pittsburgh Campus
Kean University
Minnesota State University-Mankato
Georgia State University
Middle Tennessee State University
Messiah College
North Central College
Eastern Illinois University
Utah State University
South Dakota School of Mines and Technology
Duquesne University
The College of Wooster
Ohio Northern University
Bloomsburg University of Pennsylvania
Hawaii Pacific University
Northwood University
University of Nevada-Reno
University of Arkansas at Little Rock
Rollins College
Central Connecticut State University
Thomas Edison State University
Angelo State University
Winona State University
Minnesota State University Moorhead
West Virginia University Institute of Technology
Albany State University
Oregon Institute of Technology
University of Memphis
New Jersey City University
Saint Louis University
University of Illinois at Springfield
Texas Southern University
Kent State University at Kent
California State University-Stanislaus
Boise State University
Western Michigan University
Monmouth College
University of Missouri-Kansas City
The University of Texas at San Antonio
Columbia College Chicago
CUNY City College
Midwestern State University
University of North Carolina at Greensboro
University of Central Arkansas
Central Washington University
West Texas A & M University
Franklin College
Western Connecticut State University
Mississippi State University
Slippery Rock University of Pennsylvania
California University of Pennsylvania
Hartwick College
Belmont University
Iona College
Elizabethtown College
Murray State University
Bloomfield College
Northeastern Illinois University
Arcadia University
University of Houston-Downtown
Wright State University-Main Campus
Wichita State University
Howard University
University of Missouri-St Louis
Tarleton State University
SUNY Polytechnic Institute
Jacksonville State University
Mercy College
Western New England University
The University of Texas at El Paso
Western Carolina University
The University of Texas at Tyler
Pennsylvania State University-Penn State Harrisburg
Clarion University of Pennsylvania
University of Alaska Anchorage
Virginia Commonwealth University
University of Toledo
Southwestern Oklahoma State University
University of Alabama at Birmingham
Louisiana State University-Shreveport
Central Michigan University
University of Northern Colorado
SUNY College at Oswego
Park University
Azusa Pacific University
Franklin University
East Carolina University
Grand Valley State University
Eastern Michigan University
University of Central Oklahoma
University of Akron Main Campus
Madonna University
Cleveland State University
University of Baltimore
University of Wisconsin-Stevens Point
The University of Tennessee-Chattanooga
Oral Roberts University
University of New Orleans
Saint Leo University
Valdosta State University
University of North Alabama
New Mexico State University-Main Campus
Emporia State University
Liberty University
Western Governors University
Texas A & M University-Corpus Christi
Bowling Green State University-Main Campus
University of Wisconsin-Milwaukee
University of Hartford
Dallas Baptist University
The University of Findlay
Coleman University
Arkansas Tech University
Champlain College
SUNY at Fredonia
Baldwin Wallace University
Louisiana Tech University
Wayland Baptist University
Troy University
SUNY Empire State College
Wilkes University
Brigham Young University-Hawaii
Southern Adventist University
Capital University
High Point University
Nicholls State University
Saint Ambrose University
Carroll University
Austin Peay State University
Southern Oregon University
Colorado State University-Pueblo
East Stroudsburg University of Pennsylvania
Charleston Southern University
East Tennessee State University
University of Houston-Victoria
Albright College
University of Southern Maine
Southern University and A & M College
Minot State University
University of Michigan-Flint
Point Park University
Southeast Missouri State University
University of South Alabama
Clayton  State University
Colorado Mesa University
Oakland University
William Jewell College
University of Wisconsin-Superior
University of Wisconsin-Parkside
Governors State University
Florida Southern College
Cameron University
University of North Carolina at Asheville
Walsh College of Accountancy and Business Administration
Utah Valley University
University of Wisconsin-Green Bay
Canisius College
Tulane University of Louisiana
Southern Utah University
Massachusetts College of Liberal Arts
Indiana State University
Southwestern College (Kansas)
Charter Oak State College
Cardinal Stritch University
East Central University
The University of Texas of the Permian Basin
Utica College
Athens State University
Robert Morris University
Franklin Pierce University
Montana Tech of the University of Montana
Bellevue University
Southern New Hampshire University
Loyola University New Orleans
Barry University
Eastern Kentucky University
Indiana University-Purdue University-Fort Wayne
Marshall University
Youngstown State University
Colorado Christian University
Ferris State University
North Carolina Wesleyan College
Trevecca Nazarene University
University of Nebraska at Kearney
Western Kentucky University
Keene State College
Florida Agricultural and Mechanical University
Saginaw Valley State University
Upper Iowa University
Georgia College & State University
Northern Michigan University
Mississippi College
The University of Texas Rio Grande Valley
Saint Peter's University
Pittsburg State University
Lakeland University
Westfield State University
Limestone College
Delta State University
Columbia College (Missouri)
Maryville University of Saint Louis
Fort Hays State University
Arkansas State University-Main Campus
Missouri Southern State University
Jackson State University
SUNY Buffalo State
University of North Carolina at Pembroke
Morehead State University
Clarke University
King's College
Northeastern State University
Missouri Western State University
Southeastern Oklahoma State University
St Petersburg College
Siena Heights University
Ferrum College
Indiana Wesleyan University-Marion
Middle Georgia State University
Tennessee State University
Alabama State University
Grambling State University
Indiana University-Kokomo
Northwestern State University of Louisiana
University of Southern Indiana
Robert Morris University Illinois
Chicago State University
Friends University
Davenport University
Gardner-Webb University
Oklahoma Panhandle State University

# Data Cleaning

### Step 1: Loading CSV's
We have dataframes created from web-scraped data above. Now, we want to get dataframes for data stored in CSV files. In later steps, we will combine all of these dataframes into one dataframe.

In [13]:
# Loading all CSV files 
stud_fac_ratio = pd.read_csv("stud_fac_ratio.csv")
enrollment = pd.read_csv("enrollment.csv")
location = pd.read_csv("geographic_characteristics.csv")

### Step 2: Creating Master Dataframe
We want one big dataframe, hereby called 'master dataframe', that has one entry per college. **The dataframe will have these columns: school, ranking, tsr (stands for teacher-student ratio), pop (for student undergrad population)...TODO** Since we already have a dataframe `rankingdf` that contains college names and rankings, we will make a copy of it the base for our master dataframe.

In [270]:
master = rankingdf.copy()

In [271]:
# Rearrange columns so school name comes first 
master = master[['school', 'rank']]
# Add empty columns 
master = pd.concat([master, pd.DataFrame(columns=['tsr', 'pop', 'early_pay'])])
master.head()

                                        school rank  tsr  pop early_pay
0  Massachusetts Institute of Technology (MIT)    1  NaN  NaN       NaN
1                          Stanford University    2  NaN  NaN       NaN
2                   Carnegie Mellon University    3  NaN  NaN       NaN
3     University of California, Berkeley (UCB)    4  NaN  NaN       NaN
4                           Harvard University    7  NaN  NaN       NaN

### Step 3: Clean School Names
We will be using college names in the `master` dataframe to lookup college characteristics in other dataframes (i.e. we will treat the other dataframes as lookup tables). Because other dataframes may organize their college names differently we will remove punctuation and abbreviations from `master` school names and strip whitespaces for consistency. We also remove 'The' from the beginning of college names and 'SUNY' because it is an unnecesary designation.

In [272]:
def clean_string(s): 
    no_abbrvs = s.split("(")[0]
    no_punc = no_abbrvs.replace(",", "").replace(" - ", " ").replace("-", " ").replace(".", " ").replace("&", " ")
    no_suny = no_punc.replace("SUNY", "")
    stripped = no_suny.strip()
    
    # Remove The from beginning
    if stripped[:3].lower() == "the": 
        stripped = stripped[3:]
    return stripped

In [273]:
# Clean school names as described earlier
master['school'] = master['school'].apply(lambda s: clean_string(s))
master.head()

                                  school rank  tsr  pop early_pay
0  Massachusetts Institute of Technology    1  NaN  NaN       NaN
1                    Stanford University    2  NaN  NaN       NaN
2             Carnegie Mellon University    3  NaN  NaN       NaN
3      University of California Berkeley    4  NaN  NaN       NaN
4                     Harvard University    7  NaN  NaN       NaN

In [274]:
# We observed that in row 38, the school name was too wordy, so we shortened it for easier future lookup
master.loc[38, "school"] = "Stony Brook University"

In [275]:
for m in master['school']: 
    print(m)

Massachusetts Institute of Technology
Stanford University
Carnegie Mellon University
University of California Berkeley
Harvard University
Princeton University
University of California Los Angeles
University of Washington
Columbia University
Cornell University
New York University
Georgia Institute of Technology
California Institute of Technology
University of Texas at Austin
University of Illinois at Urbana Champaign
University of Pennsylvania
University of Southern California
Yale University
University of Chicago
University of Michigan Ann Arbor
University of Maryland College Park
Boston University
Duke University
Johns Hopkins University
Purdue University
University of California San Diego
University of Wisconsin Madison
Michigan State University
Pennsylvania State University
University of California Irvine
University of Massachusetts Amherst
University of North Carolina Chapel Hill
Brown University
Northeastern University
Northwestern University
 Ohio State University
Rice University
Rutgers University New Brunswick
Stony Brook University
Texas A M University
University of California Santa Barbara
University of Pittsburgh
University of Virginia
Arizona State University
Indiana University Bloomington
North Carolina State University
University of California Davis
University of Florida
University of Illinois at Chicago
University of Notre Dame
Virginia Polytechnic Institute and State University
George Mason University
 University of Arizona
University of Colorado Boulder
University of Minnesota Twin Cities
University of Texas Dallas
Washington State University
Washington University in St  Louis
Florida State University
George Washington University
University of Rochester
Dartmouth College
Georgia State University
Illinois Institute of Technology
Rensselaer Polytechnic Institute
Syracuse University
University at Buffalo
University of Central Florida
University of Miami
University of Utah
Vanderbilt University
Iowa State University
University of South Florida
 University of Tennessee Knoxville
Case Western Reserve University
City University of New York
William   Mary
Florida International University
Georgetown University
Temple University
 University of Georgia
Tufts University
 University of Alabama
University of California Santa Cruz
University of South Carolina
Wayne State University
Colorado State University
Drexel University
Emory University
Michigan Technological University
New Jersey Institute of Technology
University of California Riverside
University of Connecticut
University of Houston
University of Maryland Baltimore County
University of Texas at San Antonio
Binghamton University
Clemson University
Oregon State University
Texas Tech University
University of Missouri Columbia
University of Nebraska Lincoln
University of Oregon
University of Texas Arlington

### Step 4: Importing Salaries
We will lookup each school in `master` in the `salarydf` dataframe and its corresponding early career pay into `master`.

In [276]:
def contains(school, string): 
    '''
    returns: True if all components of the school name are found in string. False otherwise. 
    example: if school is "Columbia University" and string is "Columbia University at Main Campus", returns True.
    '''
    parts = school.split(" ")
    for part in parts: 
        if string.find(part) == -1: 
            return False
    return True

In [277]:
def lookup(cleaned_sal, school):
    cleaned_copy = cleaned_sal.copy() 
    cleaned_copy['school'] = cleaned_copy['school'].apply(lambda s: contains(school, s))
    subset = cleaned_copy.loc[cleaned_copy['school']]
    
    # Subset will contain the rows' original index unless reset 
    subset = subset.reset_index()
    try: 
        # Retrieve first and only entry 
        return subset['early_pay'][0]
    except: 
        print("Not found: " + school)
        return None

In [278]:
school_series = master.copy()['school']

# Apply cleaning to salarydf for consistency
cleaned_sal = salarydf.copy()
cleaned_sal['school'] = cleaned_sal['school'].apply(lambda s: clean_string(s))

In [279]:
earlypay_series = school_series.apply(lambda school: lookup(cleaned_sal, school))
earlypay_series.head()

Not found: California Institute of Technology
Not found: University of Rochester
Not found: Georgetown University
Not found: Emory University

0     99,800
1    107,400
2     99,000
3    105,700
4     96,100
Name: school, dtype: object

In [282]:
# Update master with early pay data 
master['early_pay'] = earlypay_series
master.head()

                                  school rank  tsr  pop early_pay
0  Massachusetts Institute of Technology    1  NaN  NaN    99,800
1                    Stanford University    2  NaN  NaN   107,400
2             Carnegie Mellon University    3  NaN  NaN    99,000
3      University of California Berkeley    4  NaN  NaN   105,700
4                     Harvard University    7  NaN  NaN    96,100

Since the website we scraped from didn't contain information for the universities above, we removed these universities from consideration. If we were to manually Google and input these salaries, this would generate inconsistency with our existing salary data as different online sources use different data collection methods.

In [284]:
# Remove universities for which there is no salary data
to_drop = ['California Institute of Technology', 'University of Rochester', 'Georgetown University', 'Emory University']
master = master[~master['school'].isin(to_drop)]

In [17]:
# TODO:
# rankings into bins 
# put salaries into rankingdf
# average professor rating

# Data Description

**Choosing a College Ranking List**

# Data Limitations

# Exploratory Data Analysis

# Questions for Reviewers

# Appendix